:root {
	--l-max-content-width: 1400px;
	--l-max-content-width--narrow: 600px;

	/* 
  --l-header-height: 4rem;
	--l-screen-minus-header: calc(100vh - var(--l-header-height));
 */

	--l-content-padding: 1rem;
}

@media only screen and (min-width: 640px) {
	:root {
		--l-content-padding: 2rem;
	}
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1536px) {
}
